MONGODB_URI=
NEXTAUTH_SECRET=
NEXTAUTH_URL=

GEMINI_MODEL=gemini-2.5-flash
ANTHROPIC_API_KEY=
HUGGINGFACE_API_KEY=

CLOUDINARY_CLOUD_NAME= qum2ukza
CLOUDINARY_API_KEY=466379569398697
CLOUDINARY_API_SECRET=8cqKQQ0MBb7AvgM9rts4uUoeetY

GMAIL_USER= 
GMAIL_APP_PASSWORD=
